
.DS_Store
Data/JCR/.Rhistory
marklpp/.Rbuildignore
marklpp/.Rproj.user/shared/notebooks/paths
marklpp/.Rproj.user/shared/notebooks/patch-chunk-names
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/lock_file
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/FF31B0FC-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/F126E599-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/F126E599
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/C6C74E37-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/9B512040-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/5A533C0E-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/59BCA1B5-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/59BCA1B5
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/4EF8188F-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/4BD74346-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/4BD74346
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/3545CBD7-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/3545CBD7
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/0E1D4970-contents
marklpp/.Rproj.user/B2AA3313/sources/session-5F086FF0/0E1D4970
marklpp/.Rproj.user/B2AA3313/sources/prop/INDEX
marklpp/.Rproj.user/B2AA3313/sources/prop/FB2A856B
marklpp/.Rproj.user/B2AA3313/sources/prop/E2097C19
marklpp/.Rproj.user/B2AA3313/sources/prop/D031E71C
marklpp/.Rproj.user/B2AA3313/sources/prop/BACD0384
marklpp/.Rproj.user/B2AA3313/sources/prop/960A05C8
marklpp/.Rproj.user/B2AA3313/sources/prop/818E3976
marklpp/.Rproj.user/B2AA3313/sources/prop/2CC8213A
marklpp/.Rproj.user/B2AA3313/saved_source_markers
marklpp/.Rproj.user/B2AA3313/rmd-outputs
marklpp/.Rproj.user/B2AA3313/persistent-state
marklpp/.Rproj.user/B2AA3313/pcs/workbench-pane.pper
marklpp/.Rproj.user/B2AA3313/pcs/windowlayoutstate.pper
marklpp/.Rproj.user/B2AA3313/pcs/source-pane.pper
marklpp/.Rproj.user/B2AA3313/pcs/files-pane.pper
marklpp/.Rproj.user/B2AA3313/cpp-definition-cache
